<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style/index.css">
  <link rel="stylesheet" href="style/global.css">
  <title>우리의 일기</title>
</head>
<body>
  <h3>나는?</h3><br>
  <a href="/khm" class="btn khm">김하음</a>
  <a href="/lsw" class="btn lsw">이상원</a>
</body>
</html>