<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style/global.css">
  <link rel="stylesheet" href="style/khm.css">
  <title>우리의 일기</title>
</head>
<body>
  <button id="btn_newDiary">새 일기 쓰기</button>

  <h3>지난 일기들:</h3>
  <div id="diarys">
    <div class="div_diary">
      <p class="diary_title">가나다라마바사아자카...</p> <!-- if len > 10: add ...-->
      <span class="diary_content">오늘은 정말 재미있는 재미있는 재미있는 재미있는 재미있는 재미있는 재미있는 재미있는 재미있는 재미있는 재미있는 재미있는 재미있는 재미있는 재미있는 재미있는 재미있는 재미있는 재미있는 </span>
    </div>
    <div class="div_diary">
      <p class="diary_title">가나다라마바사아자카...</p> <!-- if len > 10: add ...-->
      <span class="diary_content">오늘은 정말 재미있는 재미있는 재미있는 재미있는 재미있는 재미있는 재미있는 </span>
    </div><br>
    
    
  </div>

  <div>
    <input type="text" style="width: 80%; padding: 1em; margin: 1em;" placeholder="제목: " autocomplete="off">
    <input type="text" style="width: 80%; padding: 1em; margin: 1em; height: 6em" placeholder="내용:" autocomplete="off">

  </div>
</body>
</html>